node_modules/
.next/
out/
build/
dist/
.git/
.gitignore
.github/
.vscode/
.idea/
*.iml
.DS_Store
.env
.env.local
.env.*.local
npm-debug.log
yarn-error.log
*.md
docs/
public/fonts/
coverage/
.turbo/
.cache/
.jest/
